<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Pokemon</title>
  <link rel="stylesheet" href="../statics/styles.css" />
</head>
<body>
  <header class="sub-header">
    <h1>Pokemon</h1>
    <a class="btn small" href="index.html">Inicio</a>
  </header>

  <main class="container">
    <section class="api-card">
      <h2>Busca por nombre o ID</h2>
      <form id="pokemon-form">
        <input type="text" id="pokemon-input" placeholder="Ej. pikachu o 25" required />
        <button class="btn" type="submit">Buscar</button>
      </form>

      <div id="resultado-pokemon" class="resultado hidden">
        <img id="pokemon-img" alt="Imagen Pokémon" class="poke-img" />
        <p><strong>Nombre:</strong> <span id="poke-nombre"></span></p>
        <p><strong>Tipo(s):</strong> <span id="poke-tipos"></span></p>
        <p><strong>Peso:</strong> <span id="poke-peso"></span></p>
      </div>
    </section>
  </main>

  <script src="../js/pokemon.js"></script>
</body>
</html>