<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Rick & Morty</title>
  <link rel="stylesheet" href="../statics/styles.css" />
</head>
<body>
  <header class="sub-header">
    <h1>Rick & Morty API</h1>
    <a class="btn small" href="index.html">Inicio</a>
  </header>

  <main class="container">
    <section class="api-card">
      <h2>Busca por ID (Actualmente:826 PJs)</h2>
      <form id="rick-form">
        <input type="number" id="rick-id" placeholder="Ej. 2" min="1" required />
        <button class="btn" type="submit">Buscar</button>
      </form>

      <div id="resultado-rick" class="resultado hidden">
        <img id="rick-img" src="../statics/images/rickandmorty.jpg" alt="Personaje" class="rick-img" />
        <p><strong>Nombre:</strong> <span id="rick-nombre"></span></p>
        <p><strong>Estado:</strong> <span id="rick-estado"></span></p>
        <p><strong>Especie:</strong> <span id="rick-especie"></span></p>
      </div>
    </section>
  </main>

  <script src="../js/rick.js"></script>
</body>
</html>